<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @blog.content %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to '一覧へ戻る', blogs_path %>
